@model Scaffolding.Models.Student

<div id="student">
    <h2>@Model.FullName</h2>
    <div><strong>Faculty Number:</strong>@Model.FacultyNumber</div>
    <div><strong>Grade:</strong>@Model.Grade</div>
    <div><strong>Town:</strong>@Model.Address.Town</div>
    <div><strong>Country:</strong>@Model.Address.Country</div>
</div>